# Ignore everything inside public
/public/*

# But do not ignore the "private" directory
!public/private/

# Do not ignore the "public" directory itself
!public/

# Ensure .gitignore is not ignored
!.gitignore
